# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class

# --- Jupyter Notebook Specific ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Virtual Environments ---
venv/
.env/
env/
target/

# --- Operating System & IDEs ---
.DS_Store
Thumbs.db
.vscode/
.idea/